td img{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
p{
    display: inline;
}
td {
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.home{
    text-align: center;

}

.greeting{
    font-size: 40px;
    padding: 20px;
}

.onlyForm{
    font-size: 50px;
    padding: 30px;
    

}